Flask==0.10.1
Flask-Migrate==1.1.0
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
Flask-WTF==0.9.4
Jinja2==2.7.1
Mako==0.9.1
MarkupSafe==0.18
SQLAlchemy==0.9.0
SQLAlchemy-Utils==0.20.0
WTForms==1.0.5
WTForms-Alchemy==0.11.0
WTForms-Components==0.8.2
Werkzeug==0.9.4
alembic==0.6.2
argparse==1.2.1
decorator==3.4.0
distribute==0.6.34
itsdangerous==0.23
validators==0.5.0
